.about {
  padding: 1px 10px 0 10px;
  background-color: black;
}

.about__wrapper {
  background-color: white;
  border-radius: 8px;
  padding-top: 20px;
  margin-top: -11px;
}

.about__text {
  font-size: 16px;
  line-height: 22px;
  padding-top: 40px;
  margin: 0 auto 0 50px;
  max-width: 760px;
}

.about__header {
  font-size: 50px;
  line-height: 60px;
  font-weight: 400;
  font-style: italic;
  margin: 90px auto 0 50px;

}

.about__list-element {
  list-style-type: disc;
  margin-bottom: 14px;
  list-style-position: inside;
}