@import '../variables.scss';

// пример со стилями, его удалить и написать свой
.buttonWrapper{
  margin: 0 auto;
}
.button {
  font-family: 'Inter', serif;
  display: inline-block;
  white-space: pre;
  background-color: transparent;
  border: 2px $buttonTheme solid;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 8px;
  color: $buttonTheme;
  padding: 8px 20px;
  transform: opacity 0.4s;

  &:hover {
    background-color: transparent;
    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
  }

  @media screen and (max-width: 450px) {
    font-size: 12px;
    padding: 6px 17px;
  }
}

