@import '../variables.scss';

// пример со стилями, его удалить и написать свой

.button {
  display: inline-block;
  background-color: transparent;
  border: 2px $buttonTheme solid;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 8px;
  @include noselect();

  &,
  span {
    color: $buttonTheme;
    padding: 8px 20px;
  }

  &:hover {
    background-color: transparent;
  }

  &:active {
    transform: translateY(1px);
  }
}
