@import '../variables';

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: url('../../assets/img/header_background.png');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.header__logo {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.header__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 80%;
  max-width: 720px;
  min-width: 270px;
  margin: auto;
}

.header__title-img {
  width: 100%;
}

.header__btn-container {
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}

@media screen and (max-width: 320px) {
  .header__logo {
    width: 24px;
  }

  .header__btn-checker {
    display: block;
  }
  .header__btn-spoiler {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 40px;
  }
}

@media screen and (min-width: 321px) {
  .header__btn-checker {
    display: none;
  }
}