@import '../variables';

.header {
  position: relative;
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  width: 100%;
  height: 100vh;

  &__wrapper {
    display: flex;
    width: 100%;
  }
}

.header__logo {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__logo {
  opacity: 0.8;
}

.header__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 80%;
  max-width: 720px;
  min-width: 270px;
  margin: auto;
}

.header__title-img {
  width: 100%;
}

.header__btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;
  right: 10px;
  top: 10px;
}

.header__btn-spoiler {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;
  @media screen and (max-width: 520px) {
    display: none;
  }
}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 40px;
  }
}

  @media screen and (max-width: 520px) {
  .header__logo {
    width: 24px;
  }
  .header__btn-checker {
    display: block;
  }

}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 40px;
  }
}

@media screen and (min-width: 520px) {
  .header__btn-checker {
    display: none;
  }
}