@import '../variables';

.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 100vh;

  &__wrapper {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    height: 100vh;
  }
}

.header__logo {
  width: 50px;
  position: absolute;
  top: 20px;
  left: 20px;
  cursor: pointer;
  transition: opacity 0.4s;
}

.header__logo {
  opacity: 0.8;
}

.header__title {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  align-items: center;
  width: 80%;
  max-width: 720px;
  margin: auto;
}

.header__title-img {
  width: 100%;
}

.header__btn-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: absolute;

  right: 10px;
  top: 10px;
  @media screen and (max-width: 520px) {
    margin-top: 20px;
  }
}

.header__btn-spoiler {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  flex-direction: column;

}
.header__btn-links {
  margin-bottom: 8px;
}
@media screen and (max-width: 1024px) {
  .header__logo {
    width: 40px;
  }
}

@media screen and (max-width: 520px) {
  .header__logo {
    width: 24px;
    margin-top: 20px;
  }
  .header__btn-checker {
    display: block;
  }

}

@media screen and (max-width: 1024px) {
  .header__logo {
    width: 40px;
  }
}

@media screen and (min-width: 520px) {
  .header__btn-checker {
    display: none;
  }
}