.player {
  max-width: 1280px;
  margin-bottom: 10px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  bottom: 0;
  left: auto;
  right: auto;
  padding: 0 20px;
  @media screen and (max-width: 450px) {
    padding: 0 10px;
  }
  &__button-wrapper{
    display: flex;
  }

  &__cover {
    max-width: 176px;
    max-height: 176px;
    margin-right: 25px;
    @media screen and (max-width: 780px) {
      max-width: 164px;
      max-height: 164px;
    }
    @media screen and (max-width: 380px) {

    }
  }

  &__wrapper {
    max-width: 1280px;
    width: 1150px;
    margin: 0 10px;
    @media screen and (max-width: 320px) {
      margin: 0 5px;
    }
  }

  &__main {
    display: flex;
    margin-bottom: 15px;
    @media screen and (max-width: 550px) {
      display: block;
    }
  }

  &__item {
    width: 100%;
    margin: 0 10px;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  &__time {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: right;
    color: #fff;
    margin-left: 10px;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    outline-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    @media screen and (max-width: 1030px) {
      font-size: 18px;
      line-height: 22px;
    }
    @media screen and (max-width: 400px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__artist-block {
    display: flex;
    flex: 1 1;
  }

  &__text {
    font-family: "Inter", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 22px;
    color: #fff;
    margin-top: 0;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    outline-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      font-size: 14px;
    }

    &_hide {
      flex: 1 1;
      margin-top: 0;
      text-overflow: ellipsis;
      width: 80px;
      max-width: 60%;
      overflow: hidden;
      height: 1.2em;
      white-space: nowrap;
      overflow-wrap: break-word;
      outline-style: none;
    }

    &_song {
      font-style: italic;
      white-space: pre-line;
      font-weight: 400;
      line-height: 27px;
      margin-top: 10px;
    }
  }


  &__details {
    display: flex;
    margin-top: 16px;
  }

  &__dash {
    padding: 0 10px;
    color: #fff;
    text-overflow: ellipsis;
    overflow-wrap: break-word;
    outline-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;

  }

  &__typeContent {
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__text-song {

  }

  &__seekbar {
    margin-top: 10px;
    position: relative;
    cursor: pointer;
  }

  &__timeline {
    height: 3px;
    border-radius: 2px;
    width: 100%;
    position: relative;
    background-color: #ffffff1c;
  }

  &__timeline-bar {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #fff;
  }

  //&__seekbar {
  //  input[type='range'] {
  //    overflow: hidden;
  //    width: 100%;
  //    -webkit-appearance: none;
  //    background-color: #ffffff1c;
  //    cursor: pointer;
  //
  //  }
  //
  //  input[type='range']::-webkit-slider-runnable-track {
  //    height: 4px;
  //    -webkit-appearance: none;
  //    color: #13bba4;
  //    margin-top: -1px;
  //
  //  }
  //
  //  input[type='range']::-webkit-slider-thumb {
  //    width: 5px;
  //    -webkit-appearance: none;
  //    height: 10px;
  //    cursor: pointer;
  //    background: #ffffff;
  //    box-shadow: -100vh 0 0 100vh #ffffff;
  //  }
  //
  //  input[type="range"]::-moz-range-progress {
  //    background-color: #43e5f7;
  //    padding: 5px 0;
  //    box-sizing: border-box;
  //  }
  //
  //  //input[type="range"]::-moz-range-track {
  //  //  background-color: #9a905d;
  //  //}
  //
  //  //input[type="range"]::-ms-fill-lower {
  //  //  background-color: #43e5f7;
  //  //}
  //
  //  //input[type="range"]::-ms-fill-upper {
  //  //  background-color: #9a905d;
  //  //}
  //
  //}


  &__list {
    max-height: 115px;
    margin-top: 30px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
  }

  ::-webkit-scrollbar {
    background-color: #ffffff21;
  }

  ::-webkit-scrollbar-thumb {
    //background: #c3c4c230;
    background: #ffffff47;
    border-radius: 7px;
  }
}


.controls {
  cursor: pointer;
  margin: 16px auto 0 auto;

}

.open-popup {
  cursor: pointer;
  margin: 16px auto 0 auto;
  width: 24px;
  height: 24px;
  @media screen and (max-width: 550px) {
    width: 16px;
    height: 16px;
  }
}
.image_anim-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.image_anim-enter.image_anim-enter-active {
  opacity: 1;
  transition: opacity 600ms, transform 500ms;
  transform: translateY(0%);
}

.image_anim-leave {
  opacity: 1;
  transform: translateY(0%);
}

.image_anim-leave.image_anim-leave-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 600ms, transform 500ms;
}

/*
.list_anim-enter {
  opacity: 0.01;
  transform: translateY(100%);
}

.list_anim-enter.list_anim-enter-active {
  opacity: 1;
  transition: opacity 600ms, transform 500ms;
  transform: translateY(0%);
}

.list_anim-leave {
  opacity: 1;
  transform: translateY(0%);
}

.list_anim-leave.list_anim-leave-active {
  opacity: 0;
  transform: translateY(100%);
  transition: opacity 600ms, transform 500ms;
}

.btn_anim-enter {
  opacity: 0.01;
  transform: translateY(0%);
}

.btn_anim-enter.btn_anim-enter-active {
  opacity: 1;
  transition: opacity 600ms, transform 500ms;
  transform: translateY(100%);
}

.btn_anim-leave {
  opacity: 1;
  transform: translateY(100%);
}

.btn_anim-leave.btn_anim-leave-active {
  opacity: 0;
  transform: translateY(0%);
  transition: opacity 600ms, transform 500ms;
}*/
