.player {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  bottom: 0;
  left: 0;
  margin-bottom: 10px;
  padding: 0 10px;

  &__wrapper {
    width: 90%;
    margin: 0 10px;
    @media screen and (max-width: 320px) {
      margin: 0 5px;
    }
  }

  &__main {
    display: flex;
    margin-bottom: 15px;
    @media screen and (max-width: 550px) {
      display: block;
    }

    button {
      min-width: 150px;
      cursor: pointer;
      @media screen and (max-width: 550px) {
        width: 90%;
        display: block;
        margin: 20px auto 0 auto;
      }
    }
  }

  &__item {
    width: 100%;
    margin-right: 10px;
    @media screen and (max-width: 550px) {
      width: 100%;
    }
  }

  &__time {
    margin-left: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
  }

  &__artist {
    display: flex;
    flex: 1 1;
  }

  &__artistName {
    flex: 1 1;
    margin-top: 0;
    text-overflow: ellipsis;
    width: 80px;
    overflow: hidden;
    height: 1.2em;
    white-space: nowrap;
    overflow-wrap: break-word;
    outline-style: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__details {
    display: flex;

    h2, p {
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 22px;
      color: #FFFFFF;
      margin-top: 16px;
      text-overflow: ellipsis;
      -webkit-user-select: none;
      user-select: none;
      @media screen and (max-width: 550px) {
        font-size: 14px;
      }
    }
  }

  &__typeContent {
    margin: 30px 0 0 0;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
  }

  &__textSong {
    h3 {
      margin-top: 10px;
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
      color: #fff;
    }

    p {
      font-style: italic;
      font-weight: 500;
      font-size: 20px;
      line-height: 27px;
    }
  }

  .player__seekbar {
    input[type='range'] {
      overflow: hidden;
      width: 100%;
      -webkit-appearance: none;
      background-color: #ffffff1c;
      cursor: pointer;

    }

    input[type='range']::-webkit-slider-runnable-track {
      height: 4px;
      -webkit-appearance: none;
      color: #13bba4;
      margin-top: -1px;

    }

    input[type='range']::-webkit-slider-thumb {
      width: 5px;
      -webkit-appearance: none;
      height: 10px;
      cursor: pointer;
      background: #ffffff;
      box-shadow: -100vh 0 0 100vh #ffffff;
    }

    input[type="range"]::-moz-range-progress {
      background-color: #43e5f7;
      padding: 5px 0;
      box-sizing: border-box;
    }

    //input[type="range"]::-moz-range-track {
    //  background-color: #9a905d;
    //}

    //input[type="range"]::-ms-fill-lower {
    //  background-color: #43e5f7;
    //}

    //input[type="range"]::-ms-fill-upper {
    //  background-color: #9a905d;
    //}

  }


  &__list {
    max-height: 115px;
    margin-top: 5px;
    overflow-y: auto;
    overflow-x: hidden;

    h2, p {
      font-style: italic;
      color: #fff;
      cursor: pointer;
      -webkit-user-select: none;
      user-select: none;
    }

  }

  ::-webkit-scrollbar {
    background-color: #ffffff21;
  }

  ::-webkit-scrollbar-thumb {
    //background: #c3c4c230;
    background: #ffffff47;
    border-radius: 7px;
  }
}


.dash {
  padding: 0 10px;
}

.controls {
  cursor: pointer;
  margin: 16px auto 0 auto;

  img {
    min-width: 16px;
  }
}

.openPopup {
  cursor: pointer;
  margin: 16px auto 0 auto;
  width: 24px;
  height: 24px;
  @media screen and (max-width: 550px) {
    width: 16px;
    height: 16px;
  }
}

