.background {
  //background-image: url('../../assets/img/header_background.png');
  position: fixed;
  background-repeat: no-repeat;
  background-color: $background;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}