.btnYouTube {
  display: flex;
  background: #fff;
  cursor: pointer;
  white-space: pre;
  border: 2px $buttonTheme solid;
  border-radius: 30px;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin: 8px;
  color: $buttonTheme;
  padding: 8px 20px;

  &:hover {

    opacity: 0.8;
  }

  &:active {
    transform: translateY(1px);
  }

  &_realease {
    min-width: 150px;
    cursor: pointer;
    @media screen and (max-width: 550px) {
      width: 90%;
      display: block;
      margin: 20px auto 0 auto;
    }
  }
  &__text{

  }
}