
 //здесь хранятся константы цветов ,
//например:
$black: #232323;
$background: #E5E5E5;
$gray-line: #ffffff;
$orange: #9bc691;
$duration: #faef0c;
$buttonTheme: #ffffff;
$white: #ffffff;



 //и в стилях применяются следующим образом:
 //background-color: $gray-line;
 //color: $black;


