@import './fonts';
@import './variables';
@import './libs/normalize';
@import './components/all';

body {
  background-color: $background;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}

.background {
  background-image: url('../assets/img/header_background.png');
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}
