@import './fonts';
@import './variables';
@import './libs/normalize';



@import './components/all';

body {
  background-color: $background;
  font-family: "Inter", Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  width: 3px;
}


